# Ignore all log files
*.log

# Ignore all zip files
*.zip

# Ignore all backup files
*.bak

# Ignore all Terraform state files
*.tfstate
*.tfstate.backup

# Ignore all Terraform variable files
*.tfvars

# Ignore all shell scripts
*.sh
# Ignore Terraform working directory
.terraform/